<footer id="footer">
  
  <div>
    <p>Follow us on our social media! ♥</p>
    <a href="www.instagram.com"><img class="logo-soc" src="images/instagram.png" alt="instagram-icon"></a><a href="facebook.com"><img class="logo-soc" src="images/facebook.png" href="https://www.facebook.com" alt="facebook-icon"></a>
    <p class="cp-p">©2021 mpestoric</p>
    </div>
</footer>