<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Meet and adopt!</title>
    <link rel="icon" href="images/paw.png">

    <!--CSS Stylesheets-->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200;300&display=swap" rel="stylesheet">     
    <link href="https://fonts.googleapis.com/css2?family=Knewave&display=swap" rel="stylesheet">    <!--Bootstrap5 Stylesheets-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
{{>header}}
<div>
<div class="card-group row">
  <div class="col-lg-2 col-md-3 col-sm-4">
    <div class="card-all col">
      <img src="images/dog2.png" class="card-img-top featured-img" alt="...">
      <div class="card-body">
        <h5 class="card-title">Bella</h5>
        <p class="card-text"><a href="">Click here to find out more</a> </p>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-4">
    <div class="card-all col">
      <img src="images/dog3.jpg" class="card-img-top featured-img" alt="...">
      <div class="card-body">
        <h5 class="card-title">Simba</h5>
        <p class="card-text"><a href="">Click here to find out more</a> </p>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-4">
    <div class="card-all col">
      <img src="images/cat1.jpg" class="card-img-top featured-img" alt="...">
      <div class="card-body">
        <h5 class="card-title">Paul</h5>
        <p class="card-text"><a href="">Click here to find out more</a> </p>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-4">
    <div class="card-all col">
      <img src="images/cat2.jpg" class="card-img-top  featured-img" alt="...">
      <div class="card-body">
        <h5 class="card-title">Matilda</h5>
        <p class="card-text"><a href="">Click here to find out more</a> </p>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-4">
    <div class="card-all col">
      <img src="images/cat2.jpg" class="card-img-top  featured-img" alt="...">
      <div class="card-body">
        <h5 class="card-title">Matilda</h5>
        <p class="card-text"><a href="">Click here to find out more</a> </p>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-4">
    <div class="card-all col">
      <img src="images/cat2.jpg" class="card-img-top  featured-img" alt="...">
      <div class="card-body">
        <h5 class="card-title">Matilda</h5>
        <p class="card-text"><a href="">Click here to find out more</a> </p>
      </div>
    </div>
  </div>
  
  
</div>
    {{>footer}}
    </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="index.js"></script>

</body>
</html>